<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
<main>
        <header id="app-header" class="app-header">
                <div class="background-container">
                    <div id="background-back" class="background"></div>
                    <div id="background-front" class="background">
                        <div id="large-toolbar" class="app-toolbar tall">
                            <div id="large-title" class="large-title" style="font-weight: bold;">{{repo_name}}</div>
                        </div>
                    </div>
                </div>

                </div>
            </header>
        </main>
    <div class="action__list__display">
            <ol class="action__list" style="--length: {{data.length}}" role="list">
                {{#each data}}
                   <li style="--i: {{@index}}">
                        {{#if (eq this.type 'file')}}
                            <h4>{{name}}</h4><i class="fas fa-file custom-icon"></i> <!-- Icon for file -->
                            <p>{{description}}</p>
                        {{else}}
                            <h4>{{name}}</h4><i class="fas fa-folder custom-icon"></i> <!-- Icon for folder -->
                            <p>{{description}}</p>
                        {{/if}}
                        <a href="{{url}}" target="_blank">{{name}}</a>
                    </li>   
                {{/each}}
            </ol>
    </div>

    

	
</body>
</html>
