<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <main>
            <header id="app-header" class="app-header">
                <div class="background-container">
                    <div id="background-back" class="background"></div>
                    <div id="background-front" class="background">
                        <div id="large-toolbar" class="app-toolbar tall">
                            <div id="large-title" class="large-title" style="font-weight: bold;">{{repo_name}}</div>
                        </div>
                    </div>
                </div>

                </div>
            </header>
        </main>

        <div class="action__list-display">
            <ol class="action__list" style="--length: {{data.length}}" role="list">
                {{#each data}}
                <li style="--i: {{@index}}" class="action__list-item" item-type="{{this.type}}" item-url="{{this.url}}">
                    <h4>{{this.name}}</h4>
                    <p>{{this.description}}</p>
                </li>
                {{/each}}
            </ol>
        </div>
    </body>

</html>